body {
    background-color: hsl(210, 46%, 95%);
}

.card:nth-of-type(1) {
    background-color: hsl(263, 55%, 52%);
}

.card:nth-of-type(2) {
    background-color: hsl(217, 19%, 35%);
}

.card:nth-of-type(4) {
    background-color: hsl(219, 29%, 14%);
}

.white-bg {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 13px 13px 13px 13px rgba(236,242,248, 0.5);
}

.img-circle {
    border: 2px solid hsl(265, 70%, 68%);
}

.name p:nth-child(1) {
    color: hsl(0, 0%, 81%);
}

.name p:nth-child(2) {
    color: hsla(0, 0%, 81%, 0.5);
}

.card-title p {
    color: hsl(0, 0%, 100%);
}

.card-text p {
    color: hsla(0, 0%, 81%, 0.70);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.inv-colors .name p:nth-child(1) {
    color: hsl(219, 29%, 14%);
}

.inv-colors .name p:nth-child(2) {
    color: hsla(219, 29%, 14%, 0.5);
}

.inv-colors .card-title p {
    color: hsl(217, 19%, 35%);
}

.inv-colors .card-text p {
    color: hsla(219, 29%, 14%, 0.7);
}